<footer class="d-flex mt-auto">
    <div class="col py-3 mt-4 px-5 border-top text-center bg-dark bg-gradient">
        <p class="mb-0 text-muted"><small class="text-light">Pyros Rocketeers by Manuel & Mario for 2022 Web
                Engineering and Services course</small></p>
    </div>
</footer>