<header class="pt-5 mb-4 bg-dark text-light bg-gradient">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-5 text-center">
                <h1 class="display-4">Pyros Rocketeers Web Site</h1>
                <p class="lead">Web page devoted to Rocket League car selling by Pyros</p>
            </div>
        </div>
    </div>
</header>